<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTCE - Lokmany Tilak College Of Engineering</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/ltcenew.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playfair+Display:ital@0;1&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playfair+Display:ital@0;1&family=Young+Serif&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/public/css//universal.css">
    <link rel="stylesheet" href="/public/css/achievement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div class="upnav">
        <div class="text" id="pro">
            <ul>
                <li><a href="https://ltce.in/grievances/">GRIEVANCES</a></li>
            </ul>
        </div>
        <div class="social" id="pro">
            <ul class="follow-us">
                <li><a href="https://www.facebook.com/LTCEOfficial" target="_blank" class="float-right"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/LTCE_Official/status/1352258020512837632?s=19" target="_blank"
                        class="float-right"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCjxVhT8dgsmaORgmMXLym6g" target="_blank"
                        class="float-right"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/ltce_official/?igshid=1fyw4a2dtipvb" target="_blank"
                        class="float-right"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>

    <!-- HEADER COMMON TO ALL  -->
    <header>
        <div class="header-t">
            <table style="display: block;">
                <img src="/images/ltback3.jpeg" alt="LTCE">
            </table>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid my-navbar">
            <a class="navbar-brand hide nav-item" href="/index.html">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mylist" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link hide2" aria-current="page" href="/index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ABOUT
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-item2" href="/views/pages/about.html">ABOUT DEPARTMENT</a>
                            </li>
                            <li><a class="dropdown-item nav-item2" href="/views/pages/lab.html">LAB DETAILS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/achievement.html">ACHIEVEMENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/club.html">CLUB INFO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/news.html">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/sports.html">SPORTS-EVENT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            FACULTY
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-item2" href="/views/pages/staff.html">TEACHING</a></li>
                            <li><a class="dropdown-item nav-item2" href="/views/pages/nonstaff.html">NON-TEACHING</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/photogallery.html">GALLERY</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            TNP
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp0.html">INTRODUCTION</a></li>
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp1.html">T&P CELL</a></li>
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp2.html">PLACEMENT INFO</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://erp.ltjss.net/" target="_blank">ERP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="header">
            <div class="heading">
                <div class="head">
                    <h1>ACHIEVEMENTS</h1>
                </div>
            </div>
        </div>
    </header>

    <nav class="nav">
        
        <div class="box" id="targetId">
            <a href="#cc">Co-Curricular</a>
        </div>
        <div class="box" id="targetId">
            <a href="#sports">Sports</a>
        </div>
        
        <div class="box" id="targetId">
            <a href="#ea">Eminent Alumina</a>
        </div>
    </nav>
    <br>
    <div id="cc" class="seperator"></div>
    <section class="section3">
        <div class="co-curricular">
            <div class="sec-title tit bungee-spice-regular">Technical</div>
            <div style="font-family: fantasy; font-weight: 400; letter-spacing: 1px; text-align: center;"
                class="sec-title sec-info1">STUDENTS ACHIEVEMENTS</div>
            <div>
                <div class="sec-info">
                    <div class="imgname">
                        <p>Amaan
                            Sayyad</p>
                        <p>(BE-B)</p>
                    </div>
                    <div class="info">
                        <ol>
                            <li>Best Paper Award At International Conference on Recent Trends in
                                Multidisciplinary Research and Innovation (ICRMIR-23) for the topic
                                : “ Leveraging Blockchain Technology For Hunger Relief Through
                                Decentralized Food Donation”.</li>
                            <li>Certificate of participation as TEAM VISION-X for Smart India
                                Hackathon 2022.</li>
                            <li>Certificate of participation as TEAM AI-SOLAR for Smart India
                                Hackathon 2022.</li>
                            <p><span style="font-weight: bold;">4. </span>Copyright registered: The Next Gen AI Virtual
                                Steering Wheel in 2022.</p>
                        </ol>
                    </div>
                </div>
                <div class="sec-info">
                    <div class="imgname">
                        <p>Pranav
                            Tiwari</p>
                        <p>(BE-A)</p>
                    </div>
                    <div class="info">
                        <ol>
                            <p><span style="font-weight: bold;">1. </span>Scholarship at Neuro Researchers Program,
                                Peace Research Centre,
                                Prague of 20000 EUR for case study of overview regarding retention
                                for global widespread causes.</p>
                        </ol>
                    </div>
                </div>
                <div class="sec-info">
                    <div class="imgname">
                        <p>Kalyani Singh</p>
                        </p>(BE-A)</p>
                    </div>
                    <div class="info">
                        <ol>
                            <p><span style="font-weight: bold;">1. </span>Best student Research paper Award Runner Up
                                TIES 2023 conducted
                                by Vivekanand Institute of Management and studies Mumbai on “EVoting System Using
                                Blockchain”.</p>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="sec-info">
                <div class="imgname">
                    <p>Anuradha
                        Naidu</p>
                    </p>(TE-A)</p>
                </div>
                <div class="info">
                    <ol>
                        <li>Participated in ICC Next In Global Cricket Hackathon under ICC |
                            NIUM (Mar 2023).</li>
                        <li>Web3 Development Education Degree from Alchemy University.</li>
                        <li>Selected as Microsoft Learn Student Ambassador (Feb 2022 -
                            present).</li>
                        <li>Achieved Alpha & Beta Milestones at MLSA (Microsoft Learn Student
                            Ambassadors Program (2022-23)).</li>
                        <li>One of the top students in the TezAsia Fellowship Program (August
                            2022).</li>
                        <li>Participated in ETHforAll, SheBuilds (Jan 2023).</li>
                        <li>Selected for Summer of Bitcoin for screening round(April 2023).</li>
                        <li>Qualified for WEB3 Development Education TrailBlazer Fellowship
                            Program (Feb 2023).</li>
                        <p><span style="font-weight: bold;">9. </span>Selected as a mentee for Microsoft Engage Program
                            (May 2022).</p>
                    </ol>
                </div>
            </div>
            <div class="sec-info">
                <div class="imgname">
                    <p>Advait
                        Chandorkar</p>
                    </p>(TE-B)</p>
                </div>
                <div class="info">
                    <ol>
                        <p><span style="font-weight: bold;">1. </span>Reached Semi-Finals in Project Deep Blue Season 7
                            organized by
                            Mastek Ltd.</p>
                    </ol>
                </div>
            </div>
            <div class="sec-info">
                <div class="imgname">
                    <p>Swayam Karle</p>
                    </p>(TE-A)</p>
                </div>
                <div class="info">
                    <ol>
                        <li>Best Paper Award At International Conference on Recent Trends
                            in Multidisciplinary Research and Innovation (ICRMIR-23) 2023,
                            for the topic : “Agent Based Decentralized Exchange Application
                            Using Cranq”.</li>
                        <li>Winner Of Second prize in Oscillation Inter College Project
                            Competition and First Prize In Oscillation For Technical Paper
                            Presentation (April 2023) For Paper “Agent Based Decentralised
                            Exchange Application Using CRANQ”</li>
                        <li>One of the top 50 students in the Tezos India Fellowship Program
                            (Dec 2022).</li>
                        <li>Completed StarkCon Cairo Bootcamp communicating with top
                            100 student from the Globe at StarkNet Technologies.</li>
                        <li>Participated in 17th Avishkar research convention 2022-23,
                            Selection Round</li>
                        <li>Winner in IIIE Prakalp Project Competition in Web/App
                            development for OCS (LTCE & IIIE).</li>
                        <li>Participated in ICC Next In Global Cricket Hackathon under ICC |
                            NIUM (Mar 2023).</li>
                        <li>Selected as Mentee at HYPEREDGE Winter of Blockchain
                            Fellowship Program (Jan 2023).</li>
                        <li>Selected in Top 1000 Developers for ETH INDIA 2022 (Dec 2022).</li>
                        <p><span style="font-weight: bold;">10. </span>Web3 Development Education Degree from Alchemy
                            University.</p>
                    </ol>
                </div>
            </div>
            <div class="sec-info">
                <div class="imgname">
                    <p>Abhishek Yadav</p>
                    </p>(TE-A)</p>
                </div>
                <div class="info">
                    <ol>
                        <li>Winner Of Second prize in Oscillation Inter College Project
                            Competition and First Prize In Oscillation For Technical Paper
                            Presentation (April 2023) For Paper “Agent Based Decentralised
                            Exchange Application Using CRANQ”.</li>
                        <li>Qualified for WEB3 Development Education TrailBlazer Fellowship
                            Program (February 2023).</li>
                        <li>One of the top 50 students in the Tezos India Fellowship Program
                            (Dec 2022).</li>
                        <li>Completed StarkCon Cairo Bootcamp communicating with top
                            100 student from the Globe at StarkNet Technologies.</li>
                        <li>Participated in 17th Avishkar research convention 2022-23,
                            Selection Round.</li>
                        <li>Winner in IIIE Prakalp Project Competition in Web/App
                            development for OCS (LTCE & IIIE).</li>
                        <p><span style="font-weight: bold;">7. </span>Web3 Development Education Degree from Alchemy
                            University</p>
                    </ol>
                </div>
            </div>
        </div>
        <section class="section3">
            <div class="Sports">
                <!-- <div class="sec-title tit bungee-spice-regular">Sports</div> -->
                <div style=" font-weight: 800; letter-spacing: 1px; text-align: center;" class="sec-title titles">
                    Technical Paper Presentation</div>
                <div class="sec-info sec-info1">
                    <div class="secmain">
                        <div id="sec">
                            <div style="display: flex; justify-content: center;">
                                <img id="img" style="width: 25vw; height: 30vh;" src="/achievementsimg/stdach1.png"
                                    alt="">
                            </div>
                            <div style="margin: 3vh auto;" class="info">
                                <div class="tit young-serif-regular">
                                    <p>Swayam Karle</p>
                                </div>
                                <div>
                                    Best Paper Award At International Conference on Recent Trends in Multidisciplin ary
                                    Research and Innovation (ICRMIR-23) on March 17-18, 2023 Topic : Agent Based
                                    Decentralized Exchange Application Using Cranq.
                                </div>
                                <div style="font-weight: 800;">
                                    LTCE, University Of Mumbai
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

                <div style="font-weight: 800; letter-spacing: 1px; text-align: center;" class="sec-title titles">Winner
                    of First
                    prize in
                    Technical Paper
                    Presentation
                    Competition</div>
                <div class="sec-info sec-info1">
                    <div class="secmain">
                        <div id="sec">
                            <div style="margin: 3vh auto;" class="info">
                                <div class="tit young-serif-regular">
                                    <p>Karle Swayam </p>
                                    <p>Yadav Abhishek</p>
                                </div>
                                <div>
                                    Winner Of
                                    First Prize In
                                    Oscillation
                                    For Technical
                                    Paper
                                    Presentation
                                    (April 2023)
                                    For Paper
                                </div>
                                <div style="font-weight: 800;">
                                    Vasantdada Patil Pratishthan's
                                    College of Engineering & Visual
                                    Arts, University Of Mumbai
                                </div>

                            </div>
                            <div style="display: flex; justify-content: center;">
                                <img id="img" src="/achievementsimg/stdach2.png" alt="">
                            </div>
                        </div>


                    </div>
                </div>

                <div style="font-weight: 800; letter-spacing: 1px; text-align: center;" class="sec-title titles">Smart
                    India
                    Hackathon
                    August 2022</div>
                <div class="sec-info sec-info1">
                    <div class="secmain">
                        <div id="sec">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <img id="img" style="height: 40vh; ;" src="/achievementsimg/stdach3.png" alt="">
                            </div>
                            <div style="margin: 3vh auto;" class="info">
                                <div class="tit young-serif-regular">
                                    <p>Nishant Joshi</p>
                                    <p>Arin Mashta</p>
                                    <p>Mohanish</p>
                                    <p>Tripathi</p>
                                    <p>Anjali Kori
                                    <p>Aniruddha</p>
                                    <p>Mahamuni Ansari</p>
                                    <p>Mohd Hanzala</p>
                                    <p>Mohd Imamuddin</p>
                                </div>
                                <div>
                                    Grand Finale
                                    Participants
                                    Project Title:
                                    Graphical
                                    Password
                                    Authentication
                                    Karle Swayam One of the
                                    top 50
                                    students in
                                    the Tezos
                                    India
                                    Fellowship
                                    Program (Dec
                                    2022)
                                    Yadav Abhishek.
                                    Mentor: Prof.
                                    Rajendra D.
                                    Gawali and Prof.
                                    Trupti
                                    Harhare
                                </div>
                                <div style="font-weight: 800;">
                                    Innovation Cell of The Ministry
                                    of Education
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

                <div style="font-weight: 800; letter-spacing: 1px; text-align: center;" class="sec-title titles">
                    Conference</div>
                <div class="sec-info sec-info1">
                    <div class="secmain">
                        <div id="sec">
                            <div style="margin: 3vh auto;" class="info">
                                <div class="tit young-serif-regular">
                                    <p>Ms. Kalyani S. Singh</p>
                                    <p>Ms. Pratiksha R. Jondhale</p>
                                    <p>Ms. Srushti A. Suryavanshi</p>
                                    <p>Mr. Kishan R. Gupta</p>
                                </div>
                                <div>
                                    Best student
                                    Research
                                    paper Award
                                    Runner Up
                                    TIES 2023
                                    conducted by
                                    Vivekanand
                                    Institute of
                                    Management
                                    and studies
                                    Mumbai
                                </div>
                                <div style="font-weight: 800;">
                                    E-Voting System Using
                                    Blockchain
                                </div>

                            </div>
                            <div style="display: flex; justify-content: center;">
                                <img id="img" src="/achievementsimg/stdach4.png" alt="">
                            </div>
                        </div>


                    </div>
                </div>

        </section>
    </section>
    <div id="sports" class="seperator"></div>
    <section class="section3">
        <div class="Sports">
            <div class="sec-title tit bungee-spice-regular">Sports</div>
            <div style="font-family: fantasy; font-weight: 400; letter-spacing: 1px; text-align: center;"
                class="sec-title">BADMINTON TOURNAMENT</div>
            <div class="sec-info sec-info1">
                <div class="secmain">
                    <div id="sec">
                        <div style="display: flex; justify-content: center;">
                            <img id="img" src="/achievementsimg/badminton.png" alt="">
                        </div>
                        <div style="margin: 3vh auto;" class="info">The badminton competition was a huge success, with a
                            diverse
                            group of talented athletes showcasing their talents. The participants
                            were evaluated on technique, strategy, and overall performance.
                            The competition provided for young sportspersons to show their
                            skills and gain valuable experience in the competitive sports world.
                            The event was well organized, and the audience thoroughly enjoyed
                            the performances. Overall, it was a memorable experience for
                            everyone involved.
                        </div>
                    </div>

                    <p style="text-align: center;" id="win">Winners Name</p>
                    <div class="winning">
                        <div class="winner imgname">
                            <div class="single">
                                <div style="text-decoration-line: underline;">Single Boys</div>
                                <ul>
                                    <p>1. Soman</p>
                                    <p>2. Bhavesh</p>
                                </ul>
                            </div>
                            <div>
                                <div style="text-decoration-line: underline;">Single Girls</div>
                                <ul>
                                    <p>1. Ikkcha</p>
                                    <p>2. Shruti</p>
                                </ul>
                            </div>
                        </div>
                        <div class="winner imgname">
                            <div class="single">
                                <div style="text-decoration-line: underline;">Double Boys</div>
                                <ul>
                                    <p>Kundan</p>
                                    <p>Rhitik</p>
                                </ul>
                            </div>
                            <div>
                                <div style="text-decoration-line: underline;">Double Mix</div>
                                <ul>
                                    <p>Soman</p>
                                    <p>Samriddhi</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="font-family: fantasy; font-weight: 400; letter-spacing: 1px; text-align: center;"
                class="sec-title">BOX CRICKET
                COMPETITION
            </div>
            <div class="sec-info sec-info1">
                <div class="secmain">
                    <div id="sec">
                        <div style="margin: 3vh auto;" class="info">The time taken for a match was approximately 15-20
                            minutes.
                            The competition was well-attended, with 15 teams from the college
                            and 2 teams from the Architecture college who showcased their
                            talents. The event was lapsed to the Semifinals and Finals. Since
                            there were an odd number of teams, a team got directly to the
                            finals. There were 12 matches conducted to decide the winner.
                            There was also a team for maintaining the discipline of the audience
                            who managed the crowd quite well.
                        </div>
                        <div style="display: flex; justify-content: space-evenly;">
                            <img id="img" src="/achievementsimg/cricket1.png" alt="">
                            <!-- <img id="img" src="achievementsimg/cricket2.png" alt=""> -->
                        </div>
                    </div>
                    <!-- <p id="win">Winning Teams</p> -->
                    <div class="winning">
                        <div class="winner imgname">
                            <div class="single">
                                <div style="text-decoration-line: underline;"></div>
                                <ul>
                                    <p id="win">Winning Teams</p>
                                    <p>Karan Tikudave (EXTC)</p>
                                    <p>Kashyap Panchal (Mech)</p>
                                    <p>Vikas Mishra (Mech)</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="font-family: fantasy; font-weight: 400; letter-spacing: 1px; text-align: center;"
                class="sec-title">RING
                FOOTBALL
            </div>
            <div class="sec-info sec-info1">
                <div class="secmain">
                    <div id="sec">
                        <div style="display: flex; justify-content: space-evenly;">
                            <img id="img" src="/achievementsimg/football.png" alt="">
                        </div>
                        <div style="margin: 3vh auto;" class="info">The Rink football competition is on 02nd February
                            2023.
                            Each
                            team had 3 members each. The maximum number of group
                            members allowed was 3. The time limit to be maintained is 3
                            minutes per half. The competition was well-attended, with 10
                            participants from the college who showcased their talents. The
                            event was a clear knockout stage. There were 10 matches
                            conducted to decide the winner. There was also a team for
                            maintaining the discipline of the audience who managed the crowd
                            quite well.
                        </div>
                    </div>

                    <!-- <p id="win">Winning Teams</p> -->
                    <div class="winning">
                        <div class="winner imgname">
                            <div class="single">
                                <div style="text-decoration-line: underline;"></div>
                                <ul>
                                    <p id="win">Winning Teams</p>
                                    <p>Ayush, Kaif and Devesh</p>
                                    <p>Aditya, Ameya ,Piyush</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="font-family: fantasy; font-weight: 400; letter-spacing: 1px; text-align: center;"
                class="sec-title">VOLLEYBALL
                TOURNAMENT
            </div>
            <div class="sec-info sec-info1">
                <div class="secmain">
                    <div id="sec">
                        <div style="margin: 3vh auto;" class="info">The Volleyball competition is on 02nd February 2023.
                            Each team
                            had 7 members each. The maximum number of group members
                            allowed was 7. The time limit was 3 sets each. The competition was
                            well-attended, with 3 participants from the college who showcased
                            their talents. The event was a clear knockout stage. There were 6
                            matches conducted to decide the winner. There was also a team for
                            maintaining the discipline of the audience who managed the crowd
                            quite well. The event was well organized, and the audience thoroughly
                            enjoyed the performances. Overall, it was a memorable experience for
                            everyone involved.
                        </div>
                        <div style="display: flex; justify-content: space-evenly;">
                            <img id="img" src="/achievementsimg/volleyball.png" alt="">
                        </div>
                    </div>

                    <!-- <p id="win">Winner</p> -->
                    <div class="winning">
                        <div class="winner imgname">
                            <div class="single">
                                <div style="text-decoration-line: underline;"></div>
                                <ul>
                                    <p id="win">Winner</p>
                                    <p>Yash Mishra</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <div id="ea" class="seperator"></div>
    <section style="margin-bottom: 25.4vh;" class="section4">
        <div class="Eminent Alumina">
            <div class="sec-title tit bungee-spice-regular">Eminent Alumina</div>
            <section class="container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide1" src="/alumina/alu1.jpg" alt="">
                        <img id="slide2" src="/alumina/alu2.jpg" alt="">
                        <img id="slide3" src="/alumina/alu3.jpg" alt="">
                        <img id="slide4" src="/alumina/alu4.jpg" alt="">
                        <img id="slide5" src="/alumina/alu5.jpg" alt="">
                        <img id="slide6" src="/alumina/alu6.jpg" alt="">
                        <img id="slide7" src="/alumina/alu7.jpg" alt="">
                        <img id="slide8" src="/alumina/alu8.jpg" alt="">
                        <img id="slide9" src="/alumina/alu9.jpg" alt="">
                        <img id="slide10" src="/alumina/alu10.jpg" alt="">
                    </div>
                    <div class="slider-nav">
                        <a href="#slide1"></a>
                        <a href="#slide2"></a>
                        <a href="#slide3"></a>
                        <a href="#slide4"></a>
                        <a href="#slide5"></a>
                        <a href="#slide6"></a>
                        <a href="#slide7"></a>
                        <a href="#slide8"></a>
                        <a href="#slide9"></a>
                        <a href="#slide10"></a>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <br>
    <br>
    <div class="seperator"></div>
    <!-- FOOTER  -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Designed and Developed by</h3>
                <div class="team">
                    <ul>
                        <li><i class="fas fa-user"></i> Abhishek M Revankar</li>
                        <li><i class="fas fa-user"></i> Vaibhav Pratap Mishra</li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-user"></i> MD Aman Ahmad</li>
                        <li><i class="fas fa-user"></i> Manish Kushvaha</li>
                    </ul>
                </div>
                <ul>
                    
                    <li>Under The Guidance Of &nbsp; - &nbsp; <i class="fas fa-user"></i> Prof. Sonal Bankar </li>
                   
                </ul>
            </div>
            <div class="footer-section contact">
                <h3>Contact Us</h3>
                <p>Email: principal.ltce@gmail.com</p>
                <p>Phone: +91-022-27541005, +91-022-27541006</p>
            </div>
        </div>
        <div class="footer-bottom">
            <a style="text-decoration: none;color: white;" href="https://ltce.in/"> &copy; copyright©2024LTCE|All Rights
                Reserved </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/public/js/achievement.js"></script>
    <script src="/public/js//backend.js"></script>
</body>

</html>