<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/ltcenew.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LTCE - Lokmany Tilak College Of Engineering</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/css/universal.css">
    <link rel="stylesheet" href="/public/css/sports.css">
</head>

<body>
    <div class="upnav">
        <div class="text" id="pro">
            <ul>
                <li><a href="https://ltce.in/grievances/">GRIEVANCES</a></li>
            </ul>
        </div>
        <div class="social" id="pro">
            <ul class="follow-us">
                <li><a href="https://www.facebook.com/LTCEOfficial" target="_blank" class="float-right"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/LTCE_Official/status/1352258020512837632?s=19" target="_blank"
                        class="float-right"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCjxVhT8dgsmaORgmMXLym6g" target="_blank"
                        class="float-right"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/ltce_official/?igshid=1fyw4a2dtipvb" target="_blank"
                        class="float-right"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- HEADER COMMON TO ALL  -->
    <header>
        <div class="header-t">
            <table style="display: block;">
                <img src="/images/ltback3.jpeg" alt="LTCE">
            </table>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid my-navbar">
            <a class="navbar-brand hide nav-item" href="/index.html">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mylist" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link hide2" aria-current="page" href="/index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ABOUT
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-item2" href="/views/pages/about.html">ABOUT DEPARTMENT</a>
                            </li>
                            <li><a class="dropdown-item nav-item2" href="/views/pages/lab.html">LAB DETAILS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/achievement.html">ACHIEVEMENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/club.html">CLUB INFO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/news.html">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/sports.html">SPORTS-EVENT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            FACULTY
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-item2" href="/views/pages/staff.html">TEACHING</a></li>
                            <li><a class="dropdown-item nav-item2" href="/views/pages/nonstaff.html">NON-TEACHING</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/photogallery.html">GALLERY</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            TNP
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp0.html">INTRODUCTION</a></li>
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp1.html">T&P CELL</a></li>
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp2.html">PLACEMENT INFO</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://erp.ltjss.net/" target="_blank">ERP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="header">
            <div class="heading">
                <div class="head">
                    <h1>SPORTS AND EVENT</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="sport-container">
        <div class="sport1">
            <img src="/images/s1.png" alt="">
            <div class="container">
                <h1>The Badminton Competition</h1>
                <p class="description">The badminton competition was a huge success, with a diverse group of talented
                    athletes showcasing their talents. The participants were evaluated on technique, strategy, and
                    overall performance. The competition provided for young sportspersons to show their skills and gain
                    valuable experience in the competitive sports world. The event was well organized, and the audience
                    thoroughly enjoyed the performances. Overall, it was a memorable experience for everyone involved.
                </p>
            </div>
        </div>
        <div class="sport2">
            <img src="/images/s2.png" alt="">
            <div class="container">
                <h1>Box Cricket Competition</h1>
                <div class="description">
                    <p>The time taken for a match was approximately 15-20 minutes.
                        The competition was well-attended, with 15 teams from the college
                        and 2 teams from the Architecture college who showcased their
                        talents. The event was lapsed to the Semifinals and Finals. Since
                        there were an odd number of teams, a team got directly to the
                        finals. There were 12 matches conducted to decide the winner.
                        There was also a team for maintaining the discipline of the audience
                        who managed the crowd quite well.
                    </p>
                </div>
            </div>

        </div>
        <div class="sport4">
            <img src="/images/s4.png" alt="">
            <div class="container">
                <h1>Rink Football Competition </h1>
                <div class="description">
                    <p>The Rink football competition is on 02nd February 2023. Each team had 3 members each. The maximum
                        number of group members allowed was 3. The time limit to be maintained is 3 minutes per half.
                        The competition was well-attended, with 10 participants from the college who showcased their
                        talents. The event was a clear knockout stage. There were 10 matches conducted to decide the
                        winner. There was also a team for maintaining the discipline of the audience who managed the
                        crowd quite well.</p>
                </div>
            </div>
        </div>
        <div class="sport5">
            <img src="/images/s5.png" alt="">
            <div class="container">
                <h1>Volleyball Competition </h1>
                <div class="description">
                    <p>The Volleyball competition is on 02nd February 2023. Each team had 7 members each. The maximum
                        number of group members allowed was 7. The time limit was 3 sets each. The competition was
                        well-attended, with 3 participants from the college who showcased their talents. The event was a
                        clear knockout stage. There were 6 matches conducted to decide the winner. There was also a team
                        for maintaining the discipline of the audience who managed the crowd quite well. The event was
                        well organized, and the audience thoroughly enjoyed the performances. Overall, it was a
                        memorable experience for everyone involved.</p>
                </div>
            </div>
        </div>
        <div class="sport6">
            <img src="/images/s6.png" alt="">
            <div class="container">
                <h1>Orientation </h1>
                <div class="description">
                    <p>Geeky Devolution is the first coding club at LTCE, and its orientation was held on March 10,
                        2023. The President of the student chapter of CSI-LTCE, Shubham Rana, gave a talk on the
                        importance of coding and how the coding club would help students to develop their coding skills.
                        This report provides an overview of the orientation and the key points discussed by him.</p>
                </div>
            </div>
        </div>
        <div class="sport7">
            <img src="/images/s7.png" alt="">
            <div class="container">
                <h1>FUNDAMENTALS OF
                    PROGRAMMING</h1>
                <div class="description">
                    <p>Fundamentals of Programming 11th October, 2022 Geeky Devolution conducted its first session aimed
                        at teaching the fundamentals of programming to junior year students. The session was divided
                        into three parts, where three programming languages were taught, including C++, Python, and
                        Java. The lectures were delivered by final year students. The following report covers the
                        details of the session. Session Overview The session was started with an introduction to
                        programming, followed by a brief history of programming languages.</p>
                </div>
            </div>
        </div>
        <div class="sport8">
            <img src="/images/s8.png" alt="">
            <div class="container">
                <h1>Peer Mentoring Session</h1>
                <div class="description">
                    <p>The Coding Club at Lokmanya Tilak College of Engineering organized a peer mentoring session for
                        the first-year students. The objective of the session was to provide guidance and support to the
                        students in learning programming languages such as Java, C++, and Python. The mentoring session
                        was conducted in three different classes, with each class focusing on one programming language.
                    </p>
                </div>
            </div>
        </div>
        <div class="sport9">
            <img src="/images/s9.png" alt="">
            <div class="container">
                <h1>Basic Of C++
                    Programming</h1>
                <div class="description">
                    <p>18th October, 2022, Lokmanya Tilak College of Engineering
                        Introduction: The Coding Club of Lokmanya Tilak College of Engineering
                        organized a session on the Basics of C++ Programming. The session aimed to
                        introduce students to the fundamental concepts of C++ programming and
                        provide them with a solid foundation to start coding in C++. Session
                        Highlights: The session commenced with an introduction to C++ as a widely
                        used programming language, its features, and its significance in various
                        domains, including system software, embedded systems, and game
                        development.
                    </p>
                </div>
            </div>
        </div>
        <div class="sport10">
            <img src="/images/s10.png" alt="">
            <div class="container">
                <h1>Python Programming Basics Session</h1>
                <div class="description">
                    <p>18th October 2022, Lokmanya Tilak College of Engineering - Introduction: The Coding Club of
                        Lokmanya Tilak College of Engineering organized a session on the Basics of Python Programming.
                        The session aimed to introduce students to the fundamental concepts of Python programming and
                        provide them with a solid foundation to start coding in Python.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Designed and Developed by</h3>
                <div class="team">
                    <ul>
                        <li><i class="fas fa-user"></i> Abhishek M Revankar</li>
                        <li><i class="fas fa-user"></i> Vaibhav Pratap Mishra</li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-user"></i> MD Aman Ahmad</li>
                        <li><i class="fas fa-user"></i> Manish Kushvaha</li>
                    </ul>
                </div>
                <ul>
                    
                    <li>Under The Guidance Of &nbsp; - &nbsp; <i class="fas fa-user"></i> Prof. Sonal Bankar </li>
                   
                </ul>
            </div>
            <div class="footer-section contact">
                <h3>Contact Us</h3>
                <p>Email: principal.ltce@gmail.com</p>
                <p>Phone: +91-022-27541005, +91-022-27541006</p>
            </div>
        </div>
        <div class="footer-bottom">
            <a style="text-decoration: none;color: white;" href="https://ltce.in/"> &copy; copyright©2024LTCE|All Rights
                Reserved </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>