<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTCE - Lokmany Tilak College Of Engineering</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/ltcenew.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playfair+Display:ital@0;1&family=Young+Serif&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/universal.css">
    <link rel="stylesheet" href="/public/css/staffstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">



</head>

<body>
    <div class="upnav">
        <div class="text" id="pro">
            <ul>
                <li><a href="https://ltce.in/grievances/">GRIEVANCES</a></li>
            </ul>
        </div>
        <div class="social" id="pro">
            <ul class="follow-us">
                <li><a href="https://www.facebook.com/LTCEOfficial" target="_blank" class="float-right"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/LTCE_Official/status/1352258020512837632?s=19" target="_blank"
                        class="float-right"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCjxVhT8dgsmaORgmMXLym6g" target="_blank"
                        class="float-right"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/ltce_official/?igshid=1fyw4a2dtipvb" target="_blank"
                        class="float-right"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>

    <!-- HEADER COMMON TO ALL  -->
    <header>
        <div class="header-t">
            <table style="display: block;">
                <img src="/images/ltback3.jpeg" alt="LTCE">
            </table>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid my-navbar">
            <a class="navbar-brand hide nav-item" href="/index.html">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mylist" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link hide2" aria-current="page" href="/index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ABOUT
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-item2" href="/views/pages/about.html">ABOUT DEPARTMENT</a>
                            </li>
                            <li><a class="dropdown-item nav-item2" href="/views/pages/lab.html">LAB DETAILS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/achievement.html">ACHIEVEMENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/club.html">CLUB INFO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/news.html">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/sports.html">SPORTS-EVENT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            FACULTY
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-item2" href="/views/pages/staff.html">TEACHING</a></li>
                            <li><a class="dropdown-item nav-item2" href="/views/pages/nonstaff.html">NON-TEACHING</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/pages/photogallery.html">GALLERY</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            TNP
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp0.html">INTRODUCTION</a></li>
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp1.html">T&P CELL</a></li>
                            <li><a class="dropdown-item  nav-item2" href="/views/pages/tnp2.html">PLACEMENT INFO</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://erp.ltjss.net/" target="_blank">ERP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header1">
        <div class="marks-container">
            <h2>
                IA RESULT - &nbsp;
            </h2>

            <button class="show-marks-button"
                onclick="checkPassword('https:/drive.google.com/drive/folders/1NBdFJl9v5XEaOye1SSEAjk6SVjgvsGqd?usp=drive_link')">Click
                Here</button>

        </div>

        <div id="header">
            <div class="heading">
                <div class="head">
                    <h1>FACULTY</h1>
                </div>
            </div>
        </div>

    </div>


    <div id="content" class="three_quarter" style="display: flex; justify-content: center;">
        <div id="top_right_content">
            <br>
            <div class="facultyContainer">
                <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/subhashsir.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/11eF_PF-KsmLQP4IcDvRtiIYy2YcKyaop?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Dr. Subhash K. Shinde</p>
                                <p>Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D </li>

                                    </ol>
                            </div>
                            <!-- <div>
                            <p class="pqual">EXPERIENCE :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Teaching 20 Years</li>
                                </ol>
                        </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  -->





                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/sheebamaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1JITv1Pbkrv7eKbAiU2lMYIzZJEatphgd?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Dr Sheeba P. S.</p>
                                <p>Asst.Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D </li>

                                    </ol>
                            </div>
                            <!-- <div>
                            <p class="pqual">EXPERIENCE :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Teaching 20 Years</li>
                                </ol>
                        </div> -->
                        </div>
                    </div>
                </div>

                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/hodmaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1DJ1YwXYOfqPdEil2qj6CdKLbSgsUv7HT?usp=drive_link')">Study
                                        Material</button>


                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Dr. Smita Ambarkar</p>
                                <p>Assistant Professor & HOD</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D</li>
                                    <li>M.Tech</li>

                                    </ol>
                            </div>
                            <!-- <div>
                            <p class="pqual">EXPERIENCE :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Teaching 20 Years</li>
                                </ol>
                        </div> -->
                        </div>
                    </div>
                </div>

                <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/smitamaam.jpg" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/12-KG6Lu0lWS3NguYedZ3ALiG0JzaiJkP?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Dr. Manoj S. Choudhari</p>
                                <p>Associate Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D</li>

                                    </ol>
                            </div>
                            <!-- <div>
                            <p class="pqual">EXPERIENCE :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Teaching 20 Years</li>
                                </ol>
                        </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  -->
                <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/chitramaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1KqaO_AUjfvcM04-6f8SL8VzcZv78Cr_C?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Chitra T. Wasnik</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.Tech </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                <p class="pqual">EXPERIENCE :</p>
                                    <ul style="padding-left: 3vh;">
                                        <li>Teaching 20 Years</li>
                                    </ol>
                            </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/gawalisir.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1TniCpg7GMAmlol1uOIbHDKEbPhU2LYHI?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Mr. Rajendra D. Gawali</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/narvadkarsir.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1frnP1hKSEUL2hoImwNQfHGpWqYPMdmUr?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Mr. Sanjay D. Naravadkar</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>B.E </li>
                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/umalesir.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1GSC6MaFCKZnVDKhGboO1prk324Ee6Zjg?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Mr. Manish R. Umale</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>M.Tech</li>

                                    </ol>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/bankarmaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1Qlp7CUTHXD8ksD5R0fpokHlnMW6JtMhr?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Sonal A. Bankar</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E </li>
                                    <li>B.E </li>
                                    </ol>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/kaikashanmaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1JqFyTNcrHbea7Uvcx0X3aIGlpS9KyuLg?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Kahkashan Siddavatam</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/sulbhamaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/15vogIB0cfVoCfunl-X8_0zAqGVLYfM7D?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms.Sulbha S. Yadav</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E (CSE)</li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/shitalmaam.jpg" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1b1QSszPOQUQdtJL48FtysdXDw-D4mriD?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Shital K. Dhamal</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E (CSE)</li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/smitamaam.jpg" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1_5LW6jKqpVPsNrhFKxaXS_9TCxfH18p_?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Smita A. Attarde</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E (CSE)</li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/shobhamaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1eBEUSzrUbeTw4ZcXlxDWoLQfMUA8_UTZ?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Shobha S. Lolge</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/chaitralimaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1l_PW96lkPU7XeOZ4Gi0eEiw5gwLy-qy_?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Dr. Chaitrali P. Chaudhari</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D</li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/sanjivanimaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1Wm-61Nr2oBW6mN3r97HlKrRxn9tQCNd2?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Dr. Sanjivani T. Deokar</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/rakhimaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1551ucGSsF-R1PQJVFbEEBz2K7q1Ej9md?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Rakhi D. Akhare</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>Ph.D (Pursuing)</li>
                                    <li>M.E </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/archanamaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1MBSpoFOqBZt2ja5MY-GbEc7nt56rlj4f?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Archana M. Naware</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>M.E </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/pranjalimaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1bzsrFaWwHWzJWvOkFnorjdQuZf3P2tE1?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Pranjali V. Gurnule</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>M.E</li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/shirinmaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1FUZXBOJZSNjUqiLEHNkXYLApF-8Cv0WH?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Shirin H. Matwankar</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>M.E </li>

                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/shraddhamaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1obbV9el2uKirjNlrI-QpV5WoY61cNz_m?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Shraddha Shrivastava</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>M.E </li>
                                    <li>B.Tech </li>
                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="/images/rajnandinimaam.PNG" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1nOPYtp9kTYHvLDrw_Ldv1CIZikaZtugu?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Rajnandini Kumawat</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>M.E </li>
                                    <li>M.Tech</li>
                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1gv01kdfNWQCKBjYgZN0Acbfp3Gatw_mu?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Ujwala Nilesh Pagare</p>
                                <p></p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>M.E </li>
                                    <li>M.Tech</li>
                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" style="height: 23vh;" src="/images/harshitamaam.jpeg"
                                        alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1_ODLO3A6UJSR09qZkg-FNqCGy6x3fFBD?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Ms. Harshita D. Bhagwat</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">
                                    <li>M.E </li>
                                    <li>M.Tech</li>
                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  --> <!-- maam  -->
                <div class="facultyCard">
                    <div class="facultyHolder" style="background-color:#faefdb">
                        <div class="one_third first">
                            <div class="container">
                                <div><img class="imga" src="" alt="Photo"></div>
                                <div style="padding-right: 1.5vw;" class="button">

                                    <button class="btn"
                                        onclick="checkPassword('https:/drive.google.com/drive/folders/1QtB3CtZS_QbWFcLyjP9qAUzdjNiiVMCJ?usp=drive_link')">Study
                                        Material</button>

                                </div>
                            </div>
                        </div>
                        <div class="qualificationHolder">
                            <div class="tit young-serif-regular">
                                <p>Lalita Bhosale</p>
                                <p>Assistant Professor</p>
                            </div>
                            <div>
                                <p class="pqual">QUALIFICATIONS :</p>
                                <ul style="padding-left: 3vh;">

                                    <li>M.E </li>
                                    <li>M.Tech</li>
                                    </ol>
                            </div>
                            <!-- <div>
                                    <p class="pqual">EXPERIENCE :</p>
                                        <ul style="padding-left: 3vh;">
                                            <li>Teaching 20 Years</li>
                                        </ol>
                                </div> -->
                        </div>

                    </div>
                </div>
                <!-- maam  -->
            </div>
        </div>
    </div>
    <!-- FOOTER  -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Designed and Developed by</h3>
                <div class="team">
                    <ul>
                        <li><i class="fas fa-user"></i> Abhishek M Revankar</li>
                        <li><i class="fas fa-user"></i> Vaibhav Pratap Mishra</li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-user"></i> MD Aman Ahmad</li>
                        <li><i class="fas fa-user"></i> Manish Kushvaha</li>
                    </ul>
                </div>
                <ul>
                    
                    <li>Under The Guidance Of &nbsp; - &nbsp; <i class="fas fa-user"></i> Prof. Sonal Bankar </li>
                   
                </ul>
            </div>
            <div class="footer-section contact">
                <h3>Contact Us</h3>
                <p>Email: principal.ltce@gmail.com</p>
                <p>Phone: +91-022-27541005, +91-022-27541006</p>
            </div>
        </div>
        <div class="footer-bottom">
            <a style="text-decoration: none;color: white;" href="https://ltce.in/"> &copy; copyright©2024LTCE|All Rights
                Reserved </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="/public/js/backend.js"></script>
</body>

</html>